body {
    background: lightslategray;
    
    font-family: "Open Sans", cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  input {
      margin-top: 15px;
      margin-left: 65px;
  }
  img {
    max-width: 300px;
    margin-top: 15px;
    border: solid 5px black;
    margin-left: 20px;
    
  }
  h1 {
    text-align: center;
    color: azure;
    
  }
  h2 {
    text-align: center;
    color: azure;
  }
  #doggie-div {
      color:black;
      margin-top: 5px;
    
  }
  button:hover {
      background-color: goldenrod;
  }
  button {
      height: 45px;
      width: 200px;
  }
  .list {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 245px;
  }
  .list-title {
    text-align: left;
    text-decoration: underline red 3px;
    width: 245px;
    margin: 0;
  }
  #list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 700px;
  }
  .intro-container{
    border: dashed slategrey 5px;
    width: 600px ;
  }
  footer {
    background-color: goldenrod;
    width: 100vw;
    font-family: Chalkduster, fantasy;
  }